body {
  display: flex;
  background-color: #5b5959;
  height: 100vh;
  width: 100%;
  justify-content: center;
  position: relative;
}
#root {
  margin: 2rem auto;
}
.input-box {
  display: flex;
  gap: 2px;
  align-items: center;
  width: 300px;
}
.info-box {
  display: flex;
  gap: 2px;
  align-items: center;
  height: 30px;
}
input {
  padding: 1rem;
  width: 200px;
  border: none;
  border-radius: 15px;
}
.button {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
.save-btn {
  width: 20px;
  height: 20px;
  background-image: url(./assets/save.png);
}
.delete-btn {
  width: 24px;
  height: 24px;
  background-image: url(./assets/delete.png);
}
button:hover {
  border: 2px solid white;
}
p {
  margin: 0;
  padding: 1rem;
}
.toggle-theme-btn {
  background-image: url(./assets/toggle-theme.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 20px;
}
.toggle-theme-btn:hover {
  border: 1px solid white;
}
.dark {
  background-color: dimgray;
}
.light {
  background-color: rgb(175, 171, 171);
}